/* 
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap');
  footer{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;

  } */ 

  


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family:'poppins' ;
}

.hero{
    overflow: hidden;
}

.heading h1{
    color: #ffffffc4; 
    font-size: 2rem;
    text-align: center;
    margin-top: 35px;

}
.container-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto; 
}

.hero-content{
    flex: 1;
    width: 600px;
    margin: 0px 25px;
    animation: fadeInUp 2s ease;
}

.hero-content h2{
   font-size: 38px;
   margin-bottom: 20px;
   color: #ffffffc4 ;
}

.hero-content p ul li{
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #ffffff61;
}


.hero-content button{
    display: inline-block;
    background-color: rgb(14, 14, 50);
    color: #fff;
    padding: 10PX 10PX;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.hero-content button:hover{
    background-color: rgb(13, 13, 77);
    transform: scale(1.1) ;

}


.hero-image{
    flex: 1;
    width: 600px;
    margin: auto;
    animation: fadeInRight 2s ease;
}


img{
    width: 100% ;
    height : auto ;
    border-radius: 10px;

}



:root{
    --primery-color: rgb(14, 14, 50);
    --secondary-color: gray ;

}

  .index-container{
    background-image: linear-gradient(rgba(9,0,77,0.65),rgb(9,0,77,0.65)),
    url(images/BG007.jpg);
    width:100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    /* padding: 10px 8%; */


}  

.container{
    width:100%;
    min-height: 100vh;
    /* background-image: linear-gradient(rgba(9,0,77,0.65),rgb(9,0,77,0.65)),
    url(images/BG007.jpg);   */
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    
  

}
nav{
    /* height: 88px; */
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
     padding: 10px 0;  
    /* padding: 0 5%; */
}

.logo{
    width: 180px;
    cursor: pointer;
}

nav ul{
    list-style: none;
    /* width: 100%;
    text-align: right;
    padding-right:60px ; */
    display: flex;

}

nav ul li{
    padding: 10px 30px;
    /* display: inline-block;
    margin: 10px 20px ;
    */
    position: relative;
}

nav ul li a {
   color: #ffff ;
   text-decoration: none;
   font-size: 20px;
   transition: all 0.3s;
}

 /* nav ul li a:hover{
  
    
}   */

.dropdown_menu {
    display: none;
}


nav ul li:hover .dropdown_menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--primery-color);
    opacity: 0.77;
    

}

nav ul li:hover .dropdown_menu ul {
    display: block;
    margin: 10px;

}

nav ul li:hover .dropdown_menu ul li {
    width: 150px;
    padding: 10px;
}

nav .fas{
    float: right;
    margin-left: 10px;
    padding-top: 3px;
}

.dropdown_menu-1{
    display: none;
}

.dropdown_menu ul li:hover .dropdown_menu-1{
    display: block ;
    position: absolute;
    top: 0;
    left: 150px;
    background-color: var(--primery-color);
}



#service-section{
   
 min-height: 800px;
 /* 740px */
    width: 100%;
    /* background: #20223a; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#service-section h2{
    color: #ffffffc4;
    font-size: 2rem;
    margin-bottom: 20px;
    position: relative;
}

#service-section h2::after{
    position: absolute;
    content: " ";
    top: 30%;
    left: -30px;
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-left: 20px  solid var(--primery-color); 
}


#service-section h2::before{
    position: absolute;
    content: " ";
    top: 30%;
    right: -30px;
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-right: 20px  solid var(--primery-color); 
}


#service-section #paragraph{
    width: 45%;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    line-height: 1.5rem;
    white-space: 1px;
    margin-bottom: 40px;
    text-transform: uppercase;
}


.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
    z-index: 9;
    margin-top: 20px;
}

.cards .card{
    min-height: 230px;
    width: 270px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 8%;
    background: rgb(14, 14, 50);
    position: relative;
    border-radius: 10px;
    margin:0 10px ;

}

.cards .card::before{
    position: absolute;
    content: " ";  
    height: 100%;
    width: 100%;
    top:0; 
    left:0 ;
    border-radius: 10px;
    background: #ffffffc4;
    
    transform: rotate(0deg);
    z-index:-1 ;
}

.cards .card:hover.card::before{
     transform: rotate(10deg); 

}


.cards .card i{
    font-size: 2.5rem;
    color:var(--primery-color);
    margin-top: 40px;
    margin-bottom: 10px;
}

.cards .card h3{
    font-size :1.8rem;
    color: #ffffffc4;
    margin-bottom: 10px;


}

.cards .card .content ul{
    color: #ffffff61;
    font-size: 1.05rem;
    margin-bottom: 20px;
    font-weight: 500;

}

.cards .card .content a{
    color: #ffffff61;
    font-size: 1.05rem;
    font-weight: 500;
    text-align: right;


}

.footer-container{
    max-width: 1170px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}


.footer{
    background-color: rgb(14, 14, 50);
    padding: 70px 0;

}

.footer-col{
    width: 25% ;
    padding: 0 15px;

}

.footer-col h4{
    font-size: 18px;
    color: #ffffffc4;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position:absolute;
    left: 0;
    bottom: -10px;
    background-color: #030314;
    height: 2px;
    box-sizing: border-box;
    width: 50%;

}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;

}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff91;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb5b;
    display: block;
    transform: all 0.3s ease ;
    
}


.footer-col ul li a:hover{
    color: #ffff;
    padding-left: 8px;

}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0 ;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff67;
    transition: all 0.5s ease;

}


.footer-col .social-links a:hover{
    color: #24262b;
    background-color:#ffffff ;
}


/* Responsive for different devices size */

@media screen and (max-width:768px){
    .heading h1{
        font-size: 1.5rem;
        margin-top: 30px;
    }
    .hero{
        margin: 0px ;

    }
    .container-heading{
        width:100%;
        flex-direction: column;
        margin: 0px;
        padding:0px 40px ;
    }

    .hero-content{
        width: 100%;
        margin: 35px 0px;
    }

    .hero-content h2{
        font-size: 30px;
    }
    .hero-content p{
        font-size: 18px;
        margin-bottom: 20px;
    }
    .hero-content button{
        font-size: 16px;
        padding: 8px 16px;
    }
    .hero-image{
        width: 100%;

    }

    .header-btns{
        font-size: 18px;
        margin-bottom: 20px;
        padding: 8px 16px;
        width: 100%;
       
        display: inline-block;
       position: right;

       
   

        
    }

}
@keyframes fadeInUp{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }

}

@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }

}


@media(max-width:700px){
    .footer-col{
        width:50% ;
        margin-bottom: 30px;
    }
}


@media(max-width:600px){
    .footer-col{
        width:100% ;
        margin-bottom: 30px;
    }
}





@media(max-width:1200px){
    #service-section h2{
        margin-top: 30px;
    }
    .cards{
        grid-template-columns: repeat(1,1fr);
    }

    #service-section #paragraph{
        width: 80%;
    }
}

@media(max-width:900px){
    .cards .card{
        height: 450px;
        width:350px ;
        margin: 20px 0;
    }

}



/* News */
/* 1-facebook  facebook.html*/



body [lang="ar"]{
    direction: rtl;

  }

.News-secttion-heading{
    margin-bottom: 50px;
    margin-top: 50px;
     color: #07174b; 
   
}


.News-section{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(9,0,77,0.65),rgb(9,0,77,0.65)),
    url(images/BG007.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;

}

.News-row{
    display: flex;
    flex-wrap: wrap;


}
.News-column{
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;

}

.News-crad{
    
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff93 50% , #07174b 50%);
    background-size: 100% 200%;
    background-position: 0 2.5% ;
    border-radius: 5px ;
    box-shadow: 0 0 35px rgba(0,0,0,0.12);
    cursor: pointer;
    transition: 0.5s ;
    
}

 .News-crad h3{
    font-size: 20px;
    font-weight: 600;
    color: #07174b;
    margin: 1em 0;

} 

.News-crad p {
    /* color: #575a7b; */
    color: #07174b;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.03em;

}


.News-crad ul {
    /* color: #575a7b; */
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;

}

.icon-wrapper{
    background-color: #07174b;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
}


.News-crad:hover{
    background-position: 0 100%;
}

.News-crad:hover .icon-wrapper{
    background-color: #ffffff;
    color: #07174b;
}

.News-crad:hover h3{
    color: #ffffff;
}

.News-crad:hover p{
    color: #ffffff;

}

/* facebook likes */

.fb-likes-card{
    width: 325px;
    background-color: #f0f0f0b6 ;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
    opacity: 0.9;
}

.fb-likes-card img{
 
    width: 100%;
    height: auto;

}

.fb-likes-content{
    padding: 16px;

}
.fb-likes-content h3{
    font-size: 28px;
    margin-bottom: 8px;
    color: #07174b;
}
.fb-likes-content p{
    color: black bold;

    font-size: 20px;
    line-height: 1.3;

}

/* .fb-likes-content .fb-btn{
    display: inline-block;
    padding: 8px 16px;
    background-color:#07174b;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
    text-align: left;

} */
/* ........... */



@media screen and (min-width: 768px){
    .News-section{
        padding: 0 2em;
    }

    .News-column{
        flex: 0 50%;
        max-width: 50%;
    }
}

@media screen and (min-width: 992px){

    .News-section{
        padding: 1em 3em;
    }

    .News-column{
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }

}


/* Contact-us */

body .contact-section{
    min-height: 100vh;
    background-image: linear-gradient(rgba(9,0,77,0.65),rgb(9,0,77,0.65)),
    url(images/BG007.jpg);
    background-size: cover;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.contact-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contact-info{
    color: #fff;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
}

.contact-info i{
    margin-right: 20px;
    font-size: 25px;

}

.contact-form{
    max-width: 700px;
    margin-right: 50px;
}

.contact-info, .contact-form{
    flex: 1;
}

.contact-form h2{
    color: #fff;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contact-form .text-box{
    background: #000;
    color: #fff;
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    opacity: 0.7;
}

.contact-form .text-box:first-child{
    margin-right: 15px;
}

.contact-form textarea{
    background: #000;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    opacity: 0.7;
}

.contact-form .send-btn{
    float: right;
    background: #07174b;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor:pointer ;
    transition: 0.3s;
    transition-property: background ;

}

.contact-form .send-btn:hover{
    background: #1038b9;

}

@media screen and (max-width:950px){
    .contact-section{
        flex-direction: column;
    }

    .contact-info , .contact-form {
        margin: 30px 50px;

    }

    .contact-form h2{
        font-size: 30px ;
    }

    .contact-form .text-box{
        width: 100%;
    }


}

.alert-success{
    z-index: 1;
    background: #d4edda;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #3ad66e;
    border-radius: 4px;
}


.alert-error{
    z-index: 1;
    background: #fff;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #ffa502;
    border-radius: 4px;
}

/* whatsapp contact-us */
.whatsapp-btn-container{
    position: fixed;
    right:30px;
    opacity: 0;
    bottom: -50px;
    padding: 24px;
    animation: fade-up 1000ms forwards;
    animation-delay: 1000ms;
}
@keyframes fade-up{
    100%{
        bottom: 24px;
        opacity: 1;
    }
}

.whatsapp-btn-container .whatsapp-btn{
    font-size: 48px;
    color:#27a551;
    display: inline-block;
    transition: all 400ms;
}

.whatsapp-btn-container .whatsapp-btn:hover{
    transform: scale(1.2);
   
}
.whatsapp-btn-container span { 
    position: absolute;
    top: 0;
    left: 4px;
    font-family:"Roboto" ,sans-serif;
    font-weight: bold;
    color: #ffff;
    transform: rotateZ('20deg') translateX(10px);
    opacity: 0;
    transition: all 400ms;

}

.whatsapp-btn-container .whatsapp-btn:hover + span {
    transform: rotateZ('0deg') translateX(0px);
    opacity: 1;
}


@media screen and (max-width:950px){

    .whatsapp-btn-container{
        display: inline-block;
        font-size: small;

    }

    .footer{
        width: 100%;
    }
}
















  


